@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
*{
    padding:0;
    margin:0;
}
body{
    width:100vw;
}
/* inicio del css para el index */
/* navegador */

.cabecera{
    width:100vw;
    height:17vh;
    display:flex;
    flex-wrap: wrap;
    position:sticky;
    top:0;
    box-shadow: 0px 2px 8px black;
    z-index: 20;
}
.cabecera img{
    width:30%;
    height: 100%;
}
.cabecera .navegador{
    background: rgb(219, 0, 0);
    width:70%;
    height:100%;
}
.cabecera .navegador .content_enlace{
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}
.cabecera .navegador .content_enlace .enlace{
    list-style: none;
    padding: 7px;
    transition: all 0.5s;
}
.cabecera .navegador .content_enlace .enlace a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
/* fin del navegador */

/* entrada */
.entrada{
    width:100vw;
    height:83vh;
    display: flex;
}
.entrada .content_info{
    width:32%;
    background-color:rgb(219, 0, 0);
    padding:30px 20px 30px 20px;
}
.entrada .content_info h2{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color:white;
    font-size:45px;
}
.entrada .content_info .linea-deco{
    background: white;
    width:50%;
    height:3%;
}
.entrada .content_info .info_texto{
    padding-top:30px;
}
.entrada .content_info .info_texto p{
    color:white;
    font-size: 24px;
    padding:10px 0px;
    text-align: left;
}
.entrada img{
    width:66%;
} 
/* fin de entrada */

/* educacion basica */
.educa_basica{
    width:100vw;
}
.educa_basica h2{
    text-align:center;
    width:70vw;
    margin:10px auto;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:35px;
}
.col{
    margin: 30px 0px 0px 0px;
}
.card{
    box-shadow: 0px 0px 10px black;
}
.card-title{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
}
.azul{
    background: rgb(10, 10, 146);
}
.rojo{
    background: rgb(216, 17, 17);
}
/* fin de educacion basica */

/* fortalezas */
.fortalezas{
    width:100vw;
}
.fortalezas h2{
    text-align:center;
    width:70vw;
    margin:10px auto;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:35px;
}
.fortalezas .content-fort{
    width: 100%;
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.fortalezas .content-fort .num_fortaleza{
    display:flex;
    position: relative;
    box-shadow: 0px 0px 10px 1px black;
    width: 25%;
    height: 20vh;
    padding: 10px;
    margin:30px;
}
.fortalezas .content-fort .num_fortaleza img{
    width:40%;
    height:100%;
    border-radius:50%;
    position: absolute ;
    top:0;
    left:-60px;
}
.fortalezas .content-fort .num_fortaleza p{
    padding:5px 15px 15px 80px;
}
/* fin de fortalezas */

/* ubicacion */
.ubicacion{
    width:100vw;
    height:80vh;
}
.ubicacion h2{
    text-align:center;
    width:70%;
    margin:10px auto;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:35px;   
}
.ubicacion .datos_ubicacion{
    height:80%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.ubicacion .datos_ubicacion .ubi_info{  
    width:40%;
    height: 100%;

}
.ubicacion .datos_ubicacion .ubi_info div{  
    background:silver;
    width:60%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 0px rgb(226, 10, 10);
}
.ubicacion .datos_ubicacion .ubi_info .info h3,p{
    text-align: center;
}
.ubicacion .datos_ubicacion .ubi_info .info img{  
    width:20%;
}
.ubicacion .datos_ubicacion .ubi_info .info h3{ 
    padding: 30px;
    font-size:21px;
    font-family: Arial, Helvetica, sans-serif;
}
.ubicacion .datos_ubicacion .ubi_info .info div{
      padding: 30px 0px 75px 0px;
}
.ubicacion .datos_ubicacion .ubi_info .info div p{
    font-size:20px;
}
.ubicacion .datos_ubicacion .mapa{  
    width:calc(60% - 40px);
    height:100%;
    margin-right:40px;
}
/* fin de ubicacion */ 

/* dante noticias */
.noticias{
    width:100vw;
}
.noticias h2{
    text-align:center;
    width:70%;
    margin:10px auto;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:35px;   
}
.noticias .content_noticia{
    display:flex;
    justify-content:space-around;
    margin:30px 0px;
}
.noticias .content_noticia .num_noticias{
    width:25%;
    box-shadow: 0px 0px 13px 1px black;
}
.noticias .content_noticia .num_noticias div{
    position: relative;
}
.noticias .content_noticia .num_noticias div img{
    width:100%;
}
.noticias .content_noticia .num_noticias div p{
    background: silver;
    width: fit-content;
    padding: 5px 10px;
    position: absolute;
    bottom:15px;
}
.noticias .content_noticia .num_noticias div p span{
    padding:10px;
}
.noticias .content_noticia .num_noticias .noticia_titulo{
    text-align: center;
    color: white;
    padding:23px 10px;
    background: rgb(170, 3, 3);
}
.noticias .content_noticia .num_noticias .noticia_texto{
    padding:20px;
}
/* fin de dante noticia */

/* footer */
footer{
    background:rgb(112, 0, 0);
    width:100vw;
    display: grid;
    grid-template-rows:1fr;
    grid-template-columns:2fr 1fr 2fr;
}
footer .foot_contacto{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
footer .foot_contacto h2{
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    padding: 30px 0px;
}
footer .foot_contacto .tip_contacto{
    width:100%;
    display:flex;
    justify-content:center;
}
footer .foot_contacto .tip_contacto img{
    width: 15%;
}
footer .foot_contacto .tip_contacto .tip_contacto_text{
    width: 45%;
    align-self: center;
    color: rgb(255, 255, 255);
    font-size:17px;
}
footer .imagen{
    width: 100%;
    padding:20px 0px;
}
footer .foot_redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .foot_redes h2{
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}
footer .foot_redes .enlaces_redes{
    display: flex;
    justify-content:center;
}
footer .foot_redes .enlaces_redes a{
    width: 20%;
}
footer .foot_redes .enlaces_redes .enlaces_item{
    width: 60%;
}
/* fin del css para el index */

/* inicio del css para nosotros */
.inicio_nosotros{
    width:100vw;
    position: relative;
}
.inicio_nosotros img{
    width:100%;
    height:35vh;
}
.inicio_nosotros h1{
    text-align: center;
    font-size: 50px;
    width:fit-content;
    padding: 30px 150px;
    background: rgb(219, 0, 0);
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
}
/* inicio del fundador */
.content-fundador{
    margin-top:60px;
}
.content-fundador h2{
    text-align:center;
    width:70vw;
    margin:10px auto;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:35px;
}
.content-fundador .content_infofu{
    display: flex;
}
.content-fundador .content_infofu .text_infofu{
    width:50%;
}
.content-fundador .content_infofu .text_infofu h3{
    width: cal(100% - 60px);
    margin: 0px 30px;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:25px;
}
.content-fundador .content_infofu .text_infofu p{
    text-align:left;
    width: cal(100% - 60px);
    margin: 0px 30px;
    padding:25px 20px;
    font-size: 20px;
}
.content-fundador .content_infofu img{
    width:50%;
}
/* fin del fundador */

/* inicio de historia */
.content_history{
    width:100vw;
}
.content_history h2{
    text-align:center;
    width:70vw;
    margin:10px auto;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:35px;
}
.content_history .content_infohis{
    display: flex;
}
.content_history .content_infohis .text_infohis{
    width:50%;
}
.content_history .content_infohis .text_infohis h3{
    width: cal(100% - 60px);
    margin: 0px 30px;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:25px;
}
.content_history .content_infohis .text_infohis p{
    text-align:left;
    width: cal(100% - 60px);
    margin: 0px 30px;
    padding:25px 20px;
    font-size: 20px;
}
.content_history .content_infohis img{
    width:50%;
}
/* fin de historia */

/* inicio de mision y vision */
/* mision */
.content_vimi{
    width:100vw;
}
.content_vimi h2{
    text-align:center;
    width:70vw;
    margin:10px auto;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:35px;
}
.content_vimi .content_infovi{
    display:flex;
}
.content_vimi .content_infovi .text_infovi{
    width:50%;
}
.content_vimi .content_infovi .text_infovi h3{
    width: cal(100% - 60px);
    margin: 0px 30px;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:25px;
}
.content_vimi .content_infovi .text_infovi p{
    text-align:left;
    width: cal(100% - 60px);
    margin: 0px 30px;
    padding:25px 20px;
    font-size: 20px;
}
.content_vimi .content_infovi img{
    width:50%;
}
/* vision */
.content_vimi .content_infomi{
    display:flex;
}
.content_vimi .content_infomi img{
    width:50%;
}
.content_vimi .content_infomi .text_infomi{
    width:50%;
}
.content_vimi .content_infomi .text_infomi h3{
    width: cal(100% - 60px);
    margin: 0px 30px;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:25px;
}
.content_vimi .content_infomi .text_infomi p{
    text-align:left;
    width: cal(100% - 60px);
    margin: 0px 30px;
    padding:25px 20px;
    font-size: 20px;
}
/* fin de mision y vision */

/* inicio de objetivos a cumplir */
.content_obje{
    width:100vw;
    margin-bottom: 30px;
}
.content_obje h2{
    text-align:center;
    width:70vw;
    margin:10px auto;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:35px;
}
.content_obje .content_infoob{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.content_obje .content_infoob .infoob_num{
    width:25%;
    margin: 10px;
    display: flex;
    align-items:center;
}
.content_obje .content_infoob .infoob_num img{
    width:40%;
}
.content_obje .content_infoob .infoob_num p{
    width:60%;
    padding:20px;
}
/* fin de objetivos a cumplir */
/* fin del css para nosotros */

/* inicio del css para tramite */
.inicio_tramite{
    width:100vw;
    position: relative;
}
.inicio_tramite img{
    width:100%;
    height:35vh;
}
.inicio_tramite h1{
    text-align: center;
    font-size: 50px;
    width:fit-content;
    padding: 30px 150px;
    background: rgb(219, 0, 0);
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
}
.content_tramite .card{
    width: 35%;
    margin-bottom: 40px;
}
.content_tramite .card:hover{
    background: white;
    color: black;
}
.card .card-img-top{
    width: 100%;
}
.card .card-body .card-title{
    background: red;
    font-size: 20px;
}
.card .card-body .card-text{
    padding: 30px 0px;
}
/* inicio tramites */
.content_tramite{
    margin-top:80px;
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.content_tramite .tramite_num{
    width: 40%;
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px black;
}
.content_tramite .tramite_num .tramite_info img{ 
    width:100%;
    height:35vh;
}
.content_tramite .tramite_num .tramite_info h2{
    text-align: center; 
    background: rgb(206, 5, 5);
    color: rgb(255, 255, 255);
    padding: 15px 0px;
}
.content_tramite .tramite_num .tramite_text{
    padding:20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content_tramite .tramite_num .tramite_text p{
    font-size: 20px;
}
.content_tramite .tramite_num .tramite_text .tramite_monto{
    padding: 10px;
    font-weight:bold;
}
/* fin de tramites */
/* inicio de pago */
.content_pago h2{
    text-align:center;
    width:70vw;
    margin:10px auto;
    padding:10px 0px;
    box-shadow:0px 1px 0px black;   
    font-family: 'Amiri', serif;
    font-size:35px;
}
.content_pago .tipo_pago{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}
.content_pago .tipo_pago .tipo_item{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 40px 0px 20px 0px;
}
.content_pago .tipo_pago .tipo_item .tipo_text{
    margin:40px 0px;
    font-size: 22px;
}
/* fin de pago */

/* fin del css para tramite */

/* inicio de css para comunicado */
.inicio_comunicado{
    width:100vw;
    position: relative;
}
.inicio_comunicado img{
    width:100%;
    height:35vh;
}
.inicio_comunicado h1{
    text-align: center;
    font-size: 50px;
    width:fit-content;
    padding: 30px 150px;
    background: rgb(219, 0, 0);
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
}
.content_comunicado{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:50px 0px;
}
.content_comunicado .text-center{
    width: 80%;
    margin-bottom: 30px;
}
.content_comunicado .text-center:hover{
    background: rgb(255, 255, 255);
    color: black;
}
/* fin de css para comunicado */

/* inicio de css para contacto */
/* contacto info */
.inicio_contacto{
    width:100vw;
    position: relative;
}
.inicio_contacto img{
    width:100%;
    height:35vh;
}
.inicio_contacto .inicio_contacto__text{
    text-align: center;
    font-size: 50px;
    width:fit-content;
    padding: 30px 150px;
    background: rgb(219, 0, 0);
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
}
.content_form{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px black;
    width:80%;
    margin: 30px auto;
}
.content_form .form_info,form{
    width:50%;
    border: 1px solid black;
}
.content_form .form_info .form_info_text{
    padding: 30px;
    font-size: 22px;
}
.content_form .form_info .form_info_content{
    margin-bottom:30px;
}
.content_form .form_info .form_info_content .form_info_content_num{
    width:100%;
    display: flex;
    justify-content:center;
}
.content_form .form_info .form_info_content .form_info_content_num img{
    width:15%;
    height:10%;
    align-self: center;
}
.content_form .form_info .form_info_content .form_info_content_num .form_info_datos{
    padding: 30px;
    display: flex;
    font-size:20px;
}
.content_form .form_info .form_info_content .form_info_content_num .form_info_direc{
    padding: 30px;
    font-size:20px;
}
/* contacto form */
.formulario{
    padding:20px 40px 40px 40px;
    width: 50%;
}
.formulario p{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    padding:10px 0px;
}
.formulario input,textarea{
    width: 90%;
    padding: 10px;
    font-size: 18px;
}
#carouselExampleCaptions{
    width: 50%;
    margin: 0px auto;
}
/* fin de css para contacto */
@media only screen and (max-width:480px){
    /* inicio del index */
    /* inicio navegador */
    .cabecera img{
        width:100%;
    }
    .cabecera .navegador{
        background: rgb(219, 0, 0);
        display: none;
        height:100%;
    }
    .cabecera .navegador .content_enlace .enlace{
        padding: 20px;
    }
    /* inicio entrada */
    .entrada{
        flex-wrap: wrap;
    }
    .entrada .content_info{
        width:100%;
        margin-top: 115px;
    }
    .entrada img{
        width:100%;
    } 
    /* educacion basica */
    .educa_basica{
        margin-top: 400px;
    }
    .educa_basica .nivel_educativo .nivel{
        width:90%;
    }
    .educa_basica .nivel_educativo .nivel .nivel_titulo img{
        width:100%;
    }
    /* fortalezas */
    .fortalezas .content-fort .num_fortaleza{
        width: 60%;
    }
    .fortalezas .content-fort .num_fortaleza img{
        width:55%;
    }
    /* ubicacion */
    .ubicacion .datos_ubicacion{
        flex-wrap: wrap;
    }
    .ubicacion .datos_ubicacion .ubi_info{  
        width:100%;
    }
    .ubicacion .datos_ubicacion .ubi_info div{  
        width:80%;
    }
    .ubicacion .datos_ubicacion .mapa{  
        width:calc(100% - 40px);
        margin:0px 20px;
    }
    /* dante noticias */
    .noticias{
        margin-top: 400px;
    }
    .noticias .content_noticia{
        flex-wrap: wrap;
    }
    .noticias .content_noticia .num_noticias{
        width:90%;
        margin-top: 20px;
    }
    /* footer */
    footer{
        grid-template-rows:1fr 1fr 1fr;
        grid-template-columns:1fr;
    }
    footer .imagen{
    width: 50%;
    padding:20px 0px;
    margin: 0px auto;
    }
    /* inicio de nosotros */
    .inicio_nosotros h1{
        width:fit-content;
        padding: 30px 50px;
    }
    .content-fundador .content_infofu,
    .content_history .content_infohis,
    .content_vimi .content_infovi,
    .content_vimi .content_infomi{
        flex-wrap: wrap;
    }
    .content-fundador .content_infofu .text_infofu,
    .content_history .content_infohis .text_infohis,
    .content_vimi .content_infovi .text_infovi,
    .content_vimi .content_infomi .text_infomi{
        width:100%;
    }
    .content-fundador .content_infofu img,
    .content_history .content_infohis img,
    .content_vimi .content_infovi img,
    .content_vimi .content_infomi img{
        width:100%;
    }
    /* inicio de objetivos a cumplir */
    .content_obje .content_infoob .infoob_num{
        width:80%;
    }
    /* tramite */
    .inicio_tramite h1{
        width:fit-content;
        padding: 30px 50px;
    }
    .content_tramite .tramite_num{
        width: 90%;
    }
    /* pago */
    .content_pago .tipo_pago .tipo_item{
        width: 100%;
    }

    /* inicio de comunicado */
    .inicio_comunicado h1{
        width:fit-content;
        font-size: 30px;
        padding: 30px 50px;
    }
    .content_comunicado div{
        width: 90%;
    }
    /* inicio contacto */
    .inicio_contacto .inicio_contacto__text{
        width:fit-content;
        font-size: 30px;
        padding: 30px 50px;
    }
    .content_form{
        flex-wrap: wrap;
    }
    .content_form .form_info{
        width: 90%;
        border: none;
        box-shadow: 0px 2px 0px black;
    }
    .content_form .formulario{
        border: none;
    }
    .formulario{
        width: 50%;
    }
    .formulario p{
        text-align: left;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 22px;
        padding:10px 0px;
    }
    .formulario input,textarea{
        width: 100%;
        padding: 10px;
        font-size: 18px;
    }
    /* footer */
    footer .foot_contacto .tip_contacto img{
        width:13%;
        padding: 1px 40px;
    }
}
/* animaciones,, transiciones y transformaciones*/
/* cabecera */
.cabecera .navegador .content_enlace .enlace:hover{
    box-shadow: 0px 10px 0px black;
    transform: scale(1.2);
}
/* nivel educativo */
.card:hover{
    background:rgb(7, 7, 100);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px blue;
    transition: all 1s;
    transform: scale(1.1);
}
.card:hover .card-title {
    box-shadow: 0px 0px 10px white,0px 0px 10px white, 0px 0px 10px white;
}
/* fortalezas */
.fortalezas .content-fort .num_fortaleza:hover{
    background: rgb(158, 8, 8);
    box-shadow:0px 0px 20px rgb(160, 1, 1);
    color: rgb(255, 255, 255);
    transition: all 1s;
}
.fortalezas .content-fort .num_fortaleza:hover img{
    transform: rotate(360deg);
    transition: all 1s;
}
/* Noticias */
.noticias .content_noticia .num_noticias:hover{
    animation: cambio 1s forwards; 
}
.noticias .content_noticia .num_noticias:hover div .fecha{
    color: rgb(0, 0, 0);
}
@keyframes cambio{
    0%{
    }
    100%{
        background:rgb(7, 7, 100);
        color: rgb(255, 255, 255);
        box-shadow: 0px 0px 40px blue;
        transform: scale(1.1);
    }
}

